/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* variables */
:root {
  --color-primary: #ff5722;
  --color-secondary: #f8f8f8;
  --color-light-secondary: #fff6f2;
  --color-dark-secondary: #ffa589;
  --color-hedings: #000000;
  --color-body: #333333;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
  font-weight: 700;
}

h1,
h2,
h3 {
  color: var(--color-headigs);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* button */
.btn {
  cursor: pointer;
  border: 0;
  padding: 2rem 2.5rem;
  margin: 2rem, 0;
  border-radius: 8px;
  outline: 0;
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn--secondary {
  background-color: var(--color-dark-secondary);
  color: var(--color-light-secondary);
}
.btn--block {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn--primary {
    font-size: 1.6rem;
  }
  .btn--secondary {
    font-size: 2rem;
  }
}

/* badge */
.badge {
  display: inline-block;
  border-radius: 32px;
  border: 2px solid var(--color-primary);
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-transform: uppercase;
}
.badge-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}
/* lists */
.list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

/* .list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  list-style-image: url(/assets/images/iconmonstr-checkbox-21.svg);
  padding-right: 4rem;
} */
.list--tick .list__item {
  background: url(/assets/images/iconmonstr-checkbox-21.svg) no-repeat right
    center;
  padding-right: 3rem;
  margin-bottom: 1rem;
}

/* #list {
  list-style-image: url(/assets/images/iconmonstr-checkbox-21.svg);
  padding-right: 4rem;
} */
@media screen and(min-width:1024px) {
  .list--tick .list__item {
    font-size: 1.8;
    margin-bottom: 2rem;
  }
}
