/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* variables */
:root {
  --color-primary: #ff5722;
  --color-second-primary: #ff7a50;
  --color-secondary: #f8f8f8;
  --color-white: #fff;
  --color-light-secondary: #fff6f2;
  --color-dark-secondary: #ffa589;
  --color-hedings: #000000;
  --color-black-secondary: #444242;
  --color-body: #333333;
}
html {
  font-size: 62.5%;
  font-family: Vazir;
}
body {
  color: var(--color-body);
  font-family: Vazir;
  font-size: 1.4rem;
  font-weight: 700;
}

h1,
h2,
h3 {
  color: var(--color-headigs);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

/* button */
.btn {
  cursor: pointer;
  border: 0;
  padding: 2rem 2.5rem;
  margin: 2rem, 0;
  border-radius: 8px;
  outline: 0;
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn--secondary {
  background-color: var(--color-dark-secondary);
  color: var(--color-light-secondary);
}
.btn--block {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn--primary {
    font-size: 1.6rem;
  }
  .btn--secondary {
    font-size: 2rem;
  }
}

/* badge */
.badge {
  display: inline-block;
  border-radius: 32px;
  border: 2px solid var(--color-primary);
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  text-transform: uppercase;
}
.badge-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}
/* lists */
.list {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}
/* .list .list__item::before {
  content: " ";
  width: 20px;
  background-image: url(/assets/images/Tick-Square.svg);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 3rem;
  font-size: 1.5rem;
} */
.list .list__item {
  background-image: url("/assets/images/Tick-Square.svg");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
@media screen and(min-width:1024px) {
  .list--tick .list__item {
    font-size: 1.8;
    margin-bottom: 2rem;
  }
}

/* plan section */

.block-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  gap: 8rem 6rem;
  justify-content: center;
  margin-top: 5rem;
}
.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}

.card {
  background-color: var(--color-dark-secondary);
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 20px 10px #eeeded;
}

.header,
.body-card {
  padding: 3rem 2.5rem;
}

.header {
  color: var(--color-white);
  background-color: var(--color-dark-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-badge {
  margin-bottom: 2rem;
}

.card-price {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.body-card {
  height: 43.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-black-secondary);
  background-color: var(--color-light-secondary);
}
.card-btn {
  margin-top: 10rem;
  width: 100%;
}
.header-badge {
  display: flex;
  justify-content: space-between;
}
.primary-card .header {
  background-color: var(--color-second-primary);
}
.card-price {
  font-weight: 700;
}
.plan-popular {
  transform: scale(1.1);
}
.plan:hover {
  transform: scale(1.05);
}
@media screen and(min-width:1024px) {
  .plan {
    font-size: 108rem;
  }
}
